* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(249, 249, 249);
}

main {
    min-height: 90vh;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color:  rgb(253, 209, 235);
    padding: 15px;
}

.logo {
    width: 170px;
}

.nav-link {
    color: rgb(36, 36, 36);
    font-size: medium;
}

.slider {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 160, 212);
}

.slider a {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.slider h1 {
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 3px;
    justify-content:space-around;
    font-weight: bold;
    font-size: 25px;
    color: rgb(56, 56, 56);
}

.categoria {
    display: flex;
    margin: 30px;
    align-items: baseline;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container img{
    box-shadow: 3px 3px 3px 3px rgb(174, 174, 174);
    margin: 10px;
    border-radius: 5px;
    width: 90%;
}

/* .container1 {
    padding: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}  */

.card{
    margin: 20px;
    align-items: center;
}

footer {
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color:rgb(253, 209, 235);
    color: rgb(56, 56, 56);
}

footer svg {
    width: 30px;
}

.iconos {
    display: flex;
    gap: 20px;
    width: 20px;
}

.iconos a {
    color:rgb(62, 62, 62);
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 50px 0px;
}

.formulario label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario input {
    width: 450px;
}

.formulario span {
    font-size: medium;
}

.boton {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    font-size: x-large;
}

.texto h2 {
    font-size: larger;
    color: rgb(62, 62, 62);
}

.tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

th {
    font-size: x-large;
    background-color: rgb(252, 215, 237);
    font-weight: normal;
    border: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

td {
    padding: 10px;
    border: 1px solid black;
}

.details {
    height: 100%;
    width: 100%;
}

.move {
    display: flex;   
    justify-content: space-between;
    width: 100%;
}

.move h1{
    flex-grow: 1;
}

.move1 {
    gap: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 500px;
    gap: 20px;
}

.row.g-0 {
    flex-wrap: nowrap;
    padding: 15px;
    margin-top: 15px;
}

.col-md-8 {
    flex:content;
    width: 50%;
    align-items:end;
}
